.nav-height {
    height: 93px;
}

.nav-item {
    margin-left: 30px;
}

.carousel-inner > .item {
    width: 100%;
}

.carousel-caption {
    text-align: right;
}

.heading-size {
    font-size: 70px;
    text-shadow: 2px 2px 10px black;
    height: 30px;
    margin: 0 0 450px 200px;
}

.btn-position {
    margin-bottom: 30px;
}

.second-navbar {
    height: 70px;
    background-color: #050A48;
}

.item-styling {
    color: lightgrey;
    margin: 18px 40px 0px 40px;
    border-top: 0.1px solid grey;
    border-bottom: 0.1px solid grey;
}